@import 'variables';

*{
    font-size: 16px;
}

.pad{
    padding: 4%;
}

body{
    margin: 0;
    padding: 0;
    background-color: $neutral;
    padding: 10%;
}

// .main{
//     border-radius: 10em;
// }

.top{
    @extend .pad;
    background-color: #fff;
    border-radius: .5em .5em 0 0;

    &-heading{
        color: $primary;
    }
    &-sub-heading{
        color: $primary2;
    }
    &-body{
        color: $neutral2;
    }
}

.bottom{
    display: flex;
    // border-radius: 1em;

    &-left{
        border-radius: 0em 0 0 .5em;
        flex-basis: 100%;
        @extend .pad;
        background-color: $primary;

        &-heading{
            color: white;
        }
        &-pricing{
            color: white;

            &-tag{
                // zoom: 1.3;
                font-size: x-large;;
            }
            &-end{
                font-size: small;
                color: lighten($color: $primary, $amount: 40);
            }
        }
        &-sub-heading{
            color: $neutral;
        }
        &-button{
            background-color: $primary2;
            padding: 5%;
            border-radius: .4em;
            transition: box-shadow;
            transition-delay: 40ms;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            color: white;
            text-align: center;
            cursor: pointer;
            
            &:hover{
                box-shadow: grey .2em .2em 2em;
            }
        }
    }
    &-right{
        @extend .bottom-left;
        background-color: #4ABEBD;
        border-radius: 0em 0 .5em 0em;

        &-heading{
            color: white;
        }
        &-body{
            color: #A2ECEF;
        }
    }
}

@media (max-width: $mobile){
    body{
        background-color: $neutral;
    }   
    .bottom{
        display: block;
        &-left{
            // flex-basis: 100%;
            padding: 4%;
            background-color: $primary;
            border-radius: 0;
    
            &-heading{
                color: white;
            }
            &-pricing{
                color: white;
    
                &-tag{
                    // zoom: 1.3;
                    font-size: x-large;;
                }
                &-end{
                    font-size: small;
                    color: lighten($color: $primary, $amount: 40);
                }
            }
            &-sub-heading{
                color: $neutral;
            }
            &-button{
                background-color: $primary2;
                padding: 5%;
                border-radius: .4em;
                transition: box-shadow;
                transition-delay: 40ms;
                transition-duration: 300ms;
                transition-timing-function: ease-in-out;
                color: white;
                text-align: center;
                
                &:hover{
                    box-shadow: grey .2em .2em 2em;
                }
            }
        }
        &-right{
            // flex-basis: 100%;
            padding: 4%;
            background-color: $primary;
            background-color: #4ABEBD;
            border-radius: 0 0 .5em .5em;

            &-heading{
                color: white;
            }
            &-body{
                color: #A2ECEF;
                text-align: left;
            }
        }
    }

    .attribution{
        font-size: .8em;
        text-align: left;
        color: grey;
        font-weight: bold;
    
        a{
            font-size: 1rem;
            color: hsl(228, 45%, 44%);
            text-decoration: none;
            font-weight: bolder;
        }
    }

}

.attribution{
    font-size: .8em;
    text-align: center;
    color: grey;
    font-weight: bold;

    a{
        font-size: 1rem;
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        font-weight: bolder;
    }
}